----------------------------------------------------------------------------
/*

executed by user "dbc"

*/
----------------------------------------------------------------------------
DROP USER     EdwAdmin;

